﻿@model Deluxe.Web.Models.FullData.FullDataViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Full Data</h2>

<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Main
                </div>
                <div class="panel-body">
                    <div class="row">
                        <h3>Hotels</h3>
                        <table class="table-striped col-xs-12">
                            @foreach (var h in Model.Main.Hotels)
                            {
                                <tr>
                                    <td>@h.Id</td>
                                    <td>@h.Name</td>
                                    <td>@h.PricePerNight</td>
                                    <td>@h.Coordinates.Latitude;@h.Coordinates.Longitude</td>
                                </tr>
                            }
                        </table>
                        <h3>Places</h3>
                        <table class="table-striped col-xs-12">
                            @foreach (var h in Model.Main.Places)
                            {
                                <tr>
                                    <td>@h.Id</td>
                                    <td>@h.Name</td>
                                    <td>@h.Coordinates.Latitude;@h.Coordinates.Longitude</td>
                                </tr>
                            }
                        </table>
                        <h3>Events</h3>
                        <table class="table-striped col-xs-12">
                            @foreach (var h in Model.Main.Events)
                            {
                                <tr>
                                    <td>@h.UtcTimeStamp</td>
                                    <td>@h.Type</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Snapshot
                </div>
                <div class="panel-body">
                    <div class="row">
                        <h3>Hotels</h3>
                        <table class="table-striped col-xs-12">
                            @foreach (var h in Model.Snapshot.Hotels)
                            {
                                <tr>
                                    <td>@h.Id</td>
                                    <td>@h.Name</td>
                                    <td>@h.PricePerNight</td>
                                    <td>@h.Coordinates.Latitude;@h.Coordinates.Longitude</td>
                                </tr>
                            }
                        </table>
                        <h3>Places</h3>
                        <table class="table-striped col-xs-12">
                            @foreach (var h in Model.Snapshot.Places)
                            {
                                <tr>
                                    <td>@h.Id</td>
                                    <td>@h.Name</td>
                                    <td>@h.Coordinates.Latitude;@h.Coordinates.Longitude</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    QueryStack
                </div>
                <div class="panel-body">
                    <div class="row">
                        <h3>Hotels</h3>
                        <table class="table-striped col-xs-12">
                            @foreach (var h in Model.QueryStack.Hotels)
                            {
                                <tr>
                                    <td>@h.Id</td>
                                    <td>@h.Name</td>
                                    <td>@h.PricePerNight</td>
                                    <td>@h.CoordinatesLatitude;@h.CoordinatesLongitude</td>
                                </tr>
                            }
                        </table>
                        <h3>Places</h3>
                        <table class="table-striped col-xs-12">
                            @foreach (var h in Model.QueryStack.Places)
                            {
                                <tr>
                                    <td>@h.Id</td>
                                    <td>@h.Name</td>
                                    <td>@h.CoordinatesLatitude;@h.CoordinatesLongitude</td>
                                </tr>
                            }
                        </table>
                        <h3>Bookings</h3>
                        <table class="table-striped col-xs-12">
                            @foreach (var b in Model.QueryStack.Bookings)
                            {
                                <tr>
                                    <td>@b.AdultCount x Adults</td>
                                    <td>@b.ChildrenCount x Children</td>
                                    <td>@b.AccomodationCount x Accomodation</td>
                                    <td>@b.TransferCount x Transfers</td>
                                    <td>@b.Total</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div></div>
        <div class="row"></div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
