﻿@model Guid?

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bookings</h2>

<div ng-app="book" ng-controller="bookController">
    <div class="row">
        <div class="col-xs-4">
            <div class="col-xs-6" ng-show="! '@Model'">
                <h3>Adults</h3>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="New adult..." ng-model="newAdult">
                    <span class="input-group-btn">
                        <button class="btn" type="button" ng-click="addAdult()" ng-class="{ disabled: !newAdult }">Add</button>
                    </span>
                </div>
                <table class="col-xs-12 table-striped">
                    <tr ng-repeat="(i, a) in booking.adults track by $index">
                        <td><button class="glyphicon glyphicon-remove" ng-click="removeAdult(i)">&nbsp;</button></td>
                        <td>{{a}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-6" ng-show="! '@Model'">
                <h3>Children</h3>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="New child..." ng-model="newChild">
                    <span class="input-group-btn">
                        <button class="btn" type="button" ng-class="{ disabled: !newChild }" ng-click="addChild()">Add</button>
                    </span>
                </div>
                <table class="col-xs-12 table-striped">
                    <tr ng-repeat="(i, c) in booking.children track by $index">
                        <td><button class="glyphicon glyphicon-remove" ng-click="removeChild(i)">&nbsp;</button></td>
                        <td>{{c}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-4">
            <h3>Accomodation</h3>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Length of stay
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="Length of stay">
                    <li><a ng-click="lengthOfStay(1)" href="#">1 Night</a></li>
                    <li><a ng-click="lengthOfStay(2)" href="#">2 Nights</a></li>
                    <li><a ng-click="lengthOfStay(3)" href="#">3 Nights</a></li>
                    <li><a ng-click="lengthOfStay(4)" href="#">4 Nights</a></li>
                    <li><a ng-click="lengthOfStay(5)" href="#">5 Nights</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hotel
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="Length of stay">
                    <li ng-repeat="h in bookForm.hotels track by $index">
                        <a ng-click="selectHotel(h)" href="#">
                            {{h.name}}({{h.pricePerNight}}€ per night, {{h.totalPrice}}€ total)
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn">
                <button ng-show="! '@Model'" type="button" class="btn btn-primary" ng-class="{ disabled: !booking.selectedHotel }" ng-click="bookAccomodation()">Book</button>
                <button ng-show="'@Model'" type="button" class="btn btn-primary" ng-class="{ disabled: !booking.selectedHotel }" ng-click="addAccomodation()">Add</button>
            </div>
            <div class="btn" ng-show="booking.selectedHotel">
                {{ booking.lengthOfStay }} nights at {{ booking.selectedHotel.name }} for {{ booking.selectedHotel.totalPrice }}€
            </div>
        </div>
        <div class="col-xs-4">
            <h3>Transfer</h3>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Origin
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="Length of stay">
                    <li ng-repeat="p in bookForm.places track by $index"><a ng-click="selectOrigin(p)" href="#">{{p.name}}</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Destination
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="Length of stay">
                    <li ng-repeat="p in bookForm.places track by $index"><a ng-click="selectDestination(p)" href="#">{{p.name}}</a></li>
                </ul>
            </div>
            <div class="btn">
                <button ng-show="! '@Model'" type="button" class="btn btn-primary" ng-class="{ disabled: !booking.selectedTransfer }" ng-click="bookTransfer()">Book</button>
                <button ng-show="'@Model'" type="button" class="btn btn-primary" ng-class="{ disabled: !booking.selectedTransfer }" ng-click="addTransfer()">Add</button>
            </div>
            <div class="btn" ng-show="booking.selectedTransfer">
                {{ booking.selectedOrigin.name }} to {{ booking.selectedDestination.name }} for {{ booking.selectedTransfer.price }}€
            </div>
        </div>
    </div>

    <div class="row" ng-show="details">
        <h3>Booking details</h3>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-4">
                    <h4>Adults</h4>
                    <ul class="list-inline">
                        <li ng-repeat="a in details.adults.$values track by $index">{{a.name}}</li>
                    </ul>
                </div>
                <div class="col-xs-4" ng-show="details.children.$values.length">
                    <h4>Children</h4>
                    <ul class="list-inline">
                        <li ng-repeat="c in details.children.$values track by $index">{{c.name}}</li>
                    </ul>
                </div>
                <div class="col-xs-2">
                    <h4>State: {{ renderState(details.state) }}</h4>
                </div>
                <div class="col-xs-1">
                    <h4>Total: {{ details.total }}€</h4>
                </div>
                <div class="col-xs-1">
                    <h4>
                        <button class="btn" ng-click="cancel()">Cancel</button>
                    </h4>
                </div>
            </div>
        </div>

        <h4>Products</h4>
        <table class="table table-striped">
            <tr ng-repeat="p in details.products track by $index">
                <td>
                    {{ renderState(p.state) }}
                </td>
                <td>
                    {{ p.text }}
                </td>
                <td>
                    {{ p.price }}€
                </td>
            </tr>
        </table>

        <h4>Events</h4>
        <table class="table table-striped">
            <tr ng-repeat="e in events track by $index">
                <td>
                    {{ e.utcTimeStamp }}
                </td>
                <td>
                    {{ e.type }}
                </td>
            </tr>
        </table>
    </div>

    @Scripts.Render("~/bundles/angularjs")
    <script type="text/javascript">
        (function () {

            var bookingId = "@Model";
            var bookController = function ($scope, $http, $window) {
                if (bookingId && bookingId != "") {
                    $http.get("/Book/Details/" + bookingId)
                        .success(function (details) {
                            $scope.details = details;
                        });
                    $http.get("/Book/Events/" + bookingId)
                        .success(function(events) {
                            $scope.events = events;
                        });
                }

                $scope.renderState = function (status) {
                    var bookingStatus = ['None', 'Requested', 'Cancelled'];

                    return bookingStatus[status];
                }

                $scope.booking = {
                    adults: [],
                    children: []
                };
                $scope.lengthOfStay = function (los) {
                    $scope.booking.lengthOfStay = los;
                    $.each($scope.bookForm.hotels, function (i, h) {
                        h.totalPrice = h.pricePerNight * los;
                    });
                }
                $scope.addAdult = function () {
                    $scope.booking.adults.push($scope.newAdult);
                    $scope.newAdult = null;
                }
                $scope.removeAdult = function (index) {
                    $scope.booking.adults.splice(index, 1);
                }
                $scope.addChild = function (c) {
                    $scope.booking.children.push($scope.newChild);
                    $scope.newChild = null;
                }
                $scope.removeChild = function (index) {
                    $scope.booking.children.splice(index, 1);
                }

                $http.get('/Book/BookForm')
                    .success(function (response) {
                        $scope.bookForm = response;
                        $scope.lengthOfStay(1);
                    });

                $scope.selectHotel = function (hotel) {
                    $scope.booking.selectedHotel = hotel;
                }

                function price(origin, destination) {
                    if (!origin || !destination)
                        return null;

                    var latitudePart = Math.pow(origin.coordinatesLatitude - destination.coordinatesLatitude, 2);
                    var longitudePart = Math.pow(origin.coordinatesLongitude - destination.coordinatesLongitude, 2);
                    var sqrt = Math.sqrt(latitudePart + longitudePart);

                    return {
                        price: 5 * Math.floor(sqrt * 100) / 100
                    };
                }

                $scope.selectOrigin = function (place) {
                    $scope.booking.selectedOrigin = place;
                    $scope.booking.selectedTransfer = price($scope.booking.selectedOrigin, $scope.booking.selectedDestination);
                }

                $scope.selectDestination = function (place) {
                    $scope.booking.selectedDestination = place;
                    $scope.booking.selectedTransfer = price($scope.booking.selectedOrigin, $scope.booking.selectedDestination);
                }

                function clear() {
                    $scope.booking = {
                        adults: [],
                        children: []
                    };
                    $scope.lengthOfStay(1);
                }

                function redirectToEdit(id) {
                    $window.location.href = '/Book/Edit/' + id;

                }

                $scope.bookAccomodation = function () {
                    var hotelId = $scope.booking.selectedHotel.id;
                    var today = new Date();
                    $http.post('/Book/Accomodation', {
                        hotelId: hotelId,
                        adults: $scope.booking.adults,
                        children: $scope.booking.children,
                        checkIn: new Date(today.getFullYear(), today.getMonth(), today.getDay() + 1),
                        checkOut: new Date(today.getFullYear(), today.getMonth(), today.getDay() + 1 + $scope.booking.lengthOfStay)
                    }).success(redirectToEdit);
                    clear();
                }
                $scope.addAccomodation = function () {
                    var hotelId = $scope.booking.selectedHotel.id;
                    var today = new Date();
                    $http.post('/Book/AddAccomodation', {
                        bookingId: '@Model',
                        hotelId: hotelId,
                        checkIn: new Date(today.getFullYear(), today.getMonth(), today.getDay() + 1),
                        checkOut: new Date(today.getFullYear(), today.getMonth(), today.getDay() + 1 + $scope.booking.lengthOfStay)
                    }).success(redirectToEdit);
                    clear();
                }
                $scope.bookTransfer = function () {
                    var originId = $scope.booking.selectedOrigin.id;
                    var destinationId = $scope.booking.selectedDestination.id;
                    var today = new Date();
                    $http.post('/Book/Transfer', {
                        originId: originId,
                        destinationId: destinationId,
                        adults: $scope.booking.adults,
                        children: $scope.booking.children,
                        dateTime: new Date(today.getFullYear(), today.getMonth(), today.getDay() + 1)
                    }).success(redirectToEdit);
                    clear();
                }
                $scope.addTransfer = function () {
                    var originId = $scope.booking.selectedOrigin.id;
                    var destinationId = $scope.booking.selectedDestination.id;
                    var today = new Date();
                    $http.post('/Book/AddTransfer', {
                        bookingId: '@Model',
                        originId: originId,
                        destinationId: destinationId,
                        dateTime: new Date(today.getFullYear(), today.getMonth(), today.getDay() + 1)
                    }).success(redirectToEdit);
                    clear();
                }

                $scope.cancel = function(id) {
                    $http.post('/Book/CancelBooking', { id: bookingId })
                        .success(function () { redirectToEdit(bookingId); });
                }
            };
            angular.module('book', [])
                .controller('bookController', bookController);
        })();
    </script>
</div>
